.card {
  background: #fff;
  border-radius: 2px;
  position: relative;
  text-align: center;
}

.card > .img-container {
  overflow: hidden;
  text-align: center;
  border-color: black;
  background: white;
}
.card > .img-container > img {
  height: 200px;
  width: 200px;
}
